@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #073d44;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    width: 1200px;
    min-height: 650px;
    box-shadow: 0 0 15px aqua;
    display: flex;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
    color: rgba(0, 255, 255, 0.858);
    overflow: hidden;
}

.left {
    width: 60%;
    padding: 20px;
}

.calendar {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: aqua;
    border-radius: 5px;
    background-color: rgba(0, 255, 255, 0.212);
}

.calendar::before,
.calendar::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 12px;
    height: 97%;
    border-radius: 0 5px 5px 0;
    transform: translateY(-50%);
    background-color: rgba(0, 255, 255, 0.086);
}

.calendar::before {
    height: 94%;
    left: calc(100% + 12px);
    background-color: rgba(0, 255, 255, 0.029);
}

.calendar .month {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

.fa-solid {
    cursor: pointer;
    transition: all 0.24s ease-in-out;
}

.fa-solid:hover {
    text-shadow: 0 3px 3px aqua;
    transition: all 0.24s ease-in-out;
}

.weekdays {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}



.weekdays div {
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 15px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

.calendar .days .day {
   width: 14.28%;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   color: aqua;
   border: 1px solid rgba(127, 255, 212, 0.108);
   color: #073d44;
}
    
.days .day:not(.prev-date, .next-date):hover{
    box-shadow: inset 0 0 3px aqua;
    text-shadow: 0 2px 3px aqua;
    transition: 0.3s
}

.prev-date, .next-date {
    opacity: 0.5;
}

.days .day .active {
    position: relative;
    font-size: 32px;
    background: aqua;
}

.days .day .active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 2px aqua;
}

.calendar .days .today {
    font-size: 24px;
    color: aqua;
    background: #073d44;
}

.calendar .days .today:hover {
    transition: 0.25s ease-in-out;
    background: #073d44;
    color: azure;
    text-shadow: 0 2px 3px azure;
}

.calendar .days .event {
    position: relative;
}

.calendar .days .event::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 75%;
    height: 6px;
    border-radius: 30px;
    transform: translateX(-50%);
    background: #073d44;
    transition: 0.25s;
}

.calendar .days .day:hover.event::after {
    background: aqua;
    transition: 0.25s;
}

.calendar .days .active.event::after {
    background: aqua;
    transition: 0.5s;
}

.day.active {
    background-color: #073d443f;
}


.calendar .days .active.event {
    padding-bottom: 10px;
}

.calendar .goto-today {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
    color: aqua;
}

.calendar .goto-today .goto {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #073d44;
}

.calendar .goto-today .goto input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    color: #073d44;
    border-radius: 5px;
}

.calendar .goto-today button {
    padding: 5px 10px;
    border: 1px solid #073d44;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    color: #073d44;
    transition: 0.3s;
}

.calendar .goto-today button:hover {
    color: aqua;
    background-color: #073d44;
    transition: 0.3s;
}
.goto {
    position: relative;
}
.calendar .goto-today .goto button {
    border: none;
    position: absolute;
    right: 2px;
    border-radius: 15%;
    padding: 5px;
    border: 1px #073d44 solid;
}

.container .right {
    position: relative;
    width: 40%;
    min-height: 100%;
    padding: 20px 0;
}

.right .today-date {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding:  0 40px;
    padding-left: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.today-date .event-day {
    font-size: 32px;
    font-weight: 500;
}

.today-date .event-date {
    font-size: 16px;
    font-weight: 400;
    color: aqua;
}


.events {
    width: 100%;
    height: 100%;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 3% 3%;
    margin: 0 3%;
}

.events .event {
    position: relative;
    width: 95%;
    min-height: 70px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 0 50px;
    cursor: pointer;
    background: linear-gradient(90deg, #0a677369, #13a7bb15, transparent, transparent);
}

.no-event {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 500;
    color: #33767e6a;
}

.events .event:nth-child(even) {
    background: transparent;
}

.events .event:hover {
    background: linear-gradient(90deg, aqua, rgba(0, 255, 255, 0.504), rgba(0, 255, 255, 0.23), transparent);
}

.events .event .title {
    display: flex;
    align-items: center;
    pointer-events: none;
}

.events .event .title .event-title {
    font-size: 16px;
    font-weight: 400;
    margin-left: 20px;
}
.events .event .title i {
    color: #82adb3;
    font-size: 8px;
}

.events .event:hover .title i, 
.events .event:hover .event-time{
    color: aliceblue;
}


.events .event .event-time {
    font-size: 18px;
    font-weight: 400;
    color: #82adb3;
    margin-left: 15px;
    pointer-events: none;
}

.events .event::after {
    content: "✓";
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 45px;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    color: #f2f5f6;
    transform: translateY(-50%);
}

.events .event:hover::after {
    display: flex;
}

.add-event-wrapper {
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 90%;
    max-height: 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: #fff;
    transform: translateX(-50%);
    transition: max-height 0.5s ease;
}

.add-event-wrapper.active {
    max-height: 300px;
}

.add-event-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #373c4f;
    border-bottom: 1px solid #f5f5f5;
}

.add-event-header .close {
    font-size: 1.5rem;
    cursor: pointer;
}
.add-event-header .close:hover {
    color: var(--primary-clr);
}
.add-event-header .title {
    font-size: 1.2rem;
    font-weight: 500;
}

.add-event-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
}

.add-event-body .add-event-input{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.add-event-body .add-event-input input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #82adb3;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 400;
    color: #82adb3;
}

.add-event-body .add-event-input input::placeholder {
    color: #8e9a9c;
}

.add-event-body .add-event-input input:focus {
    border-color: aqua;
}
.add-event-body .add-event-input input:focus::placeholder {
    border-color: aqua;
}

.add-event-footer  {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.add-event-btn {
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    border: none;
    color: #fff;
    background: aqua;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid aqua;
}

.add-event-btn:hover {
    color: aqua;
    background: transparent;
}

.add-event {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
    color: aqua;
    border: 2px solid aqua;
    opacity: 0.5;
    background-color: transparent;
    cursor: pointer;
}

.add-event:hover {
    opacity: 1;
}

.add-event i {
    pointer-events: none;
}

.fa-trash-can {
    position: absolute;
    bottom: 4%;
    left: 5%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: aqua;
    border: 1px solid aqua;
    border-radius: 50%;
    opacity: 0.5;
}
.fa-trash-can:hover{
    opacity: 1;
    text-shadow: none;
}

@media (max-width: 1000px){
    body {
        align-items: flex-start;
        justify-content: flex-start;
    }
    .container{
        min-height: 100vh;
        flex-direction: column;
        border-radius: 0;
    }
    .container .left,
    .container .right {
        width: 100%;
        height: 100%;
        padding: 10 0;
    }
    .calendar::before,
    .calendar::after {
        top: 100%;
        left: 50%;
        width: 97%;
        height: 12px;
        border-radius: 0 0 5px 5px;
        transform: translateX(-50%);
    }
    .calendar::before{
        width: 94%;
        top: calc(100% + 12px);
    }
    .events {
        padding-bottom: 340px;
    }
    .add-event-wrapper {
        bottom: 100px;
    }
}

@media (max-width: 500px){
    .calendar .month {
        height: 75px;
    }
    .calendar .weekdays {
        height: 50px;
    }
    .calendar .days .day {
        height: 40px;
        font-size: 0.8rem;
    }
    .calendar .days .day.active,
    .calendar .days .day.active {
        font-size: 1rem;
    }
    .right .today-date {
        padding: 20px;
    }
}